body
  a(href="/productos")='Ir a la lista'
  h1='Ingrese un producto:'
  form(action="/productos" method="post")
      label(for="title")='Titulo: '
      input(type="text" id="title" name="title" required)
      br
      br
      label(for="price")='Precio: '
      input(type="number" id="price" name="price" required)
      br
      br
      label(for="thumbnail")='URL del producto: '
      input(type="url" id="thumbnail" name="thumbnail" required)
      br
      br
      input(type="submit" value="Enviar")

